.PaidCourses {
  //   margin: 25px 0px;
  .content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    .popularCourses_block {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      .popularCourses_item {
        position: relative;
        height: auto;
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
        border-radius: 10px;

        img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 100%;
          height: clamp(200px, 30vw, 300px);
          margin-bottom: 20px;
        }
        .item_lll {
          position: absolute;
          top: 25px;
          left: 10px;
          background: #e74040;
          font-family: Montserrat;
          color: white;
          font-size: 16px;
          padding: 3px 20px;
          border-radius: 7px;
          font-weight: 700;
        }
        .popularCourses_item_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 20px 20px 30px 20px;
          gap: 10px;

          .item_title {
            line-height: 24px;
            max-width: 219px;
          }
          .item_description {
            font-size: 14px;
            font-weight: 400;
            max-width: 280px;
          }
          .time {
            display: flex;
            justify-content: center;
            padding: 15px 0;

            span {
              display: flex;
              align-items: start;
              gap: 5px;
              width: 100%;
              height: auto; /* small */
              color: rgb(115, 115, 115);
              font-family: Montserrat;
              font-size: clamp(9.03px, 0.75vw, 12px);
              font-weight: 400;
              line-height: 16px;
              letter-spacing: 0.2px;
              text-align: left;

              .item_image {
                width: clamp(12.05px, 2vw, 16px);
                height: 16px; // clamp(11.04px, 2vw, 16px);
              }
            }
          }

          button {
            // box-sizing: border-box;
            border: 1.6px solid rgb(35, 166, 240);
            border-radius: 37px;
            padding: 10px 0px 10px 20px;
            color: rgb(35, 166, 240);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
            background: white;
            cursor: pointer;
            max-width: 176.14px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
          }
        }
      }
    }
  }
}
