.SIdeBar {
    width: clamp(
      80px,
      20vw,
      250px
    ); /* Минимальная ширина 200px, предпочтительная 25% от ширины экрана, максимальная 300px */
  border-right: 0.5px solid #ddd;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px 20px 20px;
  }
}
