.Dashboard {
  .content {
    .profile {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid gray;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 30px;
      .profile_banner {
        width: 100%;
        background: rgb(17, 67, 73);
        height: clamp(100px, 20vw, 180px);
      }
      .profile_info_box {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: clamp(10px, 2vw, 20px);
        .profile_info {
          display: flex;
          gap: 32px;
          align-items: start;

          .profile_avatar {
            position: relative;
            width: clamp(50px, 15vw, 100px);
            height: clamp(50px, 15vw, 100px);
            border-radius: 50%;
            overflow: hidden;
            top: -50px;
            border: 1px solid gray;
            .avatar_input {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
              cursor: pointer;
            }
          }
          .profile_name {
            display: flex;
            align-items: start;
            flex-direction: column;

            .name_input {
              height: clamp(20px, 4vw, 30px);
              width: clamp(70px, 10vw, 150px);
              border-radius: 5px;
              padding-inline: 5px;
              margin-left: 5px;
              border: 1px solid gray;
              outline: none;
            }
            .name {
              color: rgb(37, 43, 66);
              font-family: Poppins;
              font-size: clamp(15px, 3vw, 20px);
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0px;
              text-align: left;
            }
            i {
              color: gray;
              font-size: clamp(10px, 2vw, 14px);
            }
          }
        }
      }
      .edit_button {
        width: clamp(80px, 10vw, 159px);
        height: clamp(35px, 5vw, 46px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: clamp(10px, 2vw, 16px);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 6px;
        background: rgb(35, 166, 240);
      }
    }
    .admin_courses_box {
      width: 100%;
      border: 1px solid gray;
      overflow: hidden;
      border-radius: 10px;
      .courses_btn {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
        overflow: hidden;
        gap: clamp(10px, 2vw, 20px);
        padding: 20px 20px 0 20px;

        button {
          padding-block: clamp(7px, 1vw, 10px);
          padding-inline: clamp(14px, 2vw, 20px);
          font-size: clamp(10px, 2vw, 20px);
          border: 1px solid gray;
          border-radius: 10px;
          background-color: white;
          color: black;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover,
          &:active {
            background: rgb(35, 166, 240);
            color: white;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
