.SignIn {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    .sign_in_image {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: 640px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .form_block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-inline: 40px;
      .sign_in_form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        align-items: center;
        gap: 25px;

        .sign_in_title {
          color: rgb(0, 0, 0);
          font-family: Rubik;
          font-size: 35px;
          font-weight: 700;
          line-height: 57px;
          letter-spacing: 0%;
          text-align: left;
        }
        .form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 50px;
          .form_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            position: relative;

            .form_inputs {
              width: 100%;
              height: 58px;
              padding-inline-start: 16px;
              box-sizing: border-box;
              border: none;
              border-bottom: 0.84px solid rgba(0, 0, 0, 0.4);
              outline: none;
              &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                font-family: Rubik;
                font-size: 16.74px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
              }
            }
            .password_icon {
              position: absolute;
              right: 10px;
              cursor: pointer;
              bottom: 20px;
            }
            .error {
              color: red;
              font-family: Rubik;
              font-size: 16.74px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0%;
              text-align: left;
            }
          }
          .sign_in_button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border: none;
            width: 100%;
            height: 52px;
            border-radius: 12px;
            background: rgb(35, 166, 240);
            color: rgb(255, 255, 255);
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
            cursor: pointer;
            &:disabled {
              background: rgb(130, 205, 249);
              cursor: no-drop;
            }
            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }

            .sign_up_button_icon {
              color: white;
              font-size: 24px;
              animation: spin 1s linear infinite;
              transition: color 0.3s ease;

              &:hover {
                color: #ffcc00; // Change color on hover
              }
            }
          }
        }
        .has_account {
          display: flex;
          align-items: center;
          gap: 5px;
          .has_account_question {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 30.5px;
            letter-spacing: 0%;
            text-align: left;
            color: black;
          }
          .has_account_link {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 30.5px;
            letter-spacing: 0%;
            text-align: left;
            color: rgb(32, 139, 201);
            &:hover {
              color: rgb(35, 127, 180);
            }
          }
        }
        .dividers_box {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          .lines {
            width: 139px;
            height: 0.4px;
            background: rgb(52, 139, 202);
          }
          .divider_text {
            color: rgba(0, 0, 0, 0.5);
            font-family: Rubik;
            font-size: 20.09px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
        .additional_auth {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 24px;
          .auth_buttons {
            border: none;
            height: 52px;
            background-color: transparent;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5.86px;
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 20.09px;
            font-weight: 500;
            line-height: 25.53px;
            letter-spacing: 0%;
            cursor: pointer;
            &:hover {
              border: 1px solid rgb(52, 139, 202);
            }
            .facebook_icon {
              color: rgb(52, 139, 202);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 764px) {
  .SignIn {
    .content {
      .sign_in_image {
        display: none;
      }
    }
  }
}
