.AboutCourse {
  margin-top: 100px;
  margin-bottom: 100px;
  .welcome_content {
    .welcome_content_text {
      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 65px;
        h1 {
          color: rgb(11, 19, 42);
          font-family: Rubik;
          font-size: 50px;
          font-weight: 700;
          line-height: 70px;
          letter-spacing: 0%;
          text-align: left;
        }
        h5 {
          color: rgb(79, 86, 101);
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0%;
          text-align: center;
          max-width: 555px;
        }
      }
      .text_about_1 {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 25px;
        margin-bottom: 20px;
        .text_about_2 {
          h2 {
            color: rgb(37, 43, 66);
            font-family: Rubik;
            font-size: 36px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0.1px;
            text-align: left;
          }
          .context_1 {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.86px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 11px;
          }
          .context_2 {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.86px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 11px;
            span {
              font-weight: 600;
            }
          }
          .context_3 {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.86px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 11px;
            span {
              font-weight: 600;
            }
          }
          .context_4 {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.86px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 25px;
            max-width: 660px;
            width: 100%;
            height: 115px;
            span {
              font-weight: 600;
            }
          }
        }
      }
      .block_text {
        color: rgb(0, 0, 0);
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.86px;
        letter-spacing: 0%;
        text-align: left;
        max-width: 1140px;
        height: 92px;
      }
    }
    .welcome_context_lessons {
      select {
        width: 100%;
        height: 50px;
      }
    }
  }
}
