.BurgerMenu {
  position: fixed;
  right: 0;
  background: #00000000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;

  .content {
    width: 250px;
    height: 300px;
    z-index: 1000;
    background: rgb(35, 166, 240);
    border-bottom-left-radius: 5px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .burger_nav {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      a {
        width: 100%;
        border-radius: 5px;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: center;
        padding-inline: 20px;
        &:hover {
          color: rgb(35, 166, 240);
          background: white;
        }
      }
    }

    .profile_actions {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      a {
        width: 100%;
        border-radius: 5px;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: center;
        padding-inline: 20px;
        &:hover {
          color: rgb(35, 166, 240);
          background: white;
        }
      }
    }
    .auth_btn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .sign_in {
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2px;
        &:hover {
          color: rgb(35, 166, 240);
          background: white;
        }
      }
      .sign_up {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 5px;
        color: rgb(35, 166, 240);
        background: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2px;
        &:hover {
          border: 1px solid #fff;
          color: #fff;
          background: transparent;
        }
      }
    }
  }
}
