.CourseLessons {
  .welcome_context_lessons {
    margin: 50px 0px;
    .text {
      .lesson {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid gray;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          width: 32px;
          height: 32px;
          border-radius: 48px;
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .blocks {
      .block_images {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: clamp(20px, 2.5vw, 40px);


        h3 {
          color: rgba(0, 0, 0, 0.5);
          font-family: Inter;
          font-size: clamp(12px, 1vw, 16px);
          font-weight: 400;
          line-height: clamp(12.26px, 1.43vw, 23px);
          letter-spacing: -0.6px;
          text-align: left;
        }
        h5 {
          color: rgb(0, 0, 0);
          font-family: Montserrat;
          font-size: clamp(9.43px, 1.25vw, 20px);
          font-weight: 400;
          line-height: clamp(11.31px, 1.5vw, 24px);
          letter-spacing: 0.1px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .CourseLessons {
    .welcome_context_lessons {
      .text {
        .lesson {
        }
      }
      .blocks {
        .block_images {
          flex-wrap: wrap;
          img {
            width: 160.73px;
            height: 90.13px;
          }
          h3 {
            margin: 5px 0px;

          }
        }
      }
    }
  }
}
